* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
}

.box {
  padding: 40px 0px;
  background-color: #343434;
}

.footer-card h2 {
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 5px;
  margin-bottom: 15px;
}
.footer-card h2::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  width: 60px;
  height: 3px;
  background-color: green;
}

.footer-card ul {
  margin: 0;
  padding: 0;
}

.footer-card ul li {
  list-style: none;
}
.footer-card ul li a {
  font-size: 14px;
  color: #fff;
  line-height: 24px;
  text-decoration: none;
  text-transform: capitalize;
  margin: 5px 0px;
}

.footer-card .adress li {
  font-size: 14px;
  color: #fff;
}
.footer-card .icons {
  margin-top: 10px;
}
.footer-card .icons li {
  display: inline-block;
  width: 40px;
  height: 25px;
  padding: 3px;
  background-color: #fff;
  text-align: center;
}
.footer-card .icons li img {
  width: 25px;
}
